{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% set sidebar_modifiers = [] %}

{% if first_sidebar %}
  {% if second_sidebar %}
    {% set sidebar_modifiers = 'with-both-sidebars' %}
  {% else %}
    {% set sidebar_modifiers = 'with-first-sidebar' %}
  {% endif %}
{% elseif second_sidebar %}
  {% set sidebar_modifiers = 'with-second-sidebar' %}
{% endif %}

{% set main_modifiers = main_modifiers|merge(sidebar_modifiers) %}
{% set main_content_modifiers = main_content_modifiers|merge(sidebar_modifiers) %}

<div {{ suit('layout-container', layout_modifiers) }}>
  {% block page_header %}
  {% endblock %}
  {% block page_breadcrumbs %}{% endblock %}
  {% block page_featured %}{% endblock %}
  <div {{ suit(main_base_class, main_modifiers, main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if first_sidebar %}
      <aside {{ suit('Sidebar', ['first']) }} role="complementary">
        {% block page_first_sidebar %}{% endblock %}
      </aside>
    {% endif %}
    <main role="main" {{ suit(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
      {% block page_content %}{% endblock %}
    </main>
    {% if second_sidebar %}
      <aside {{ suit('Sidebar', ['second']) }} role="complementary">
        {% block page_second_sidebar %}{% endblock %}
      </aside>
    {% endif %}
  </div>
  {% block page_content_second %}{% endblock %}
  {% block page_footer_top %}
    {% include '@organisms/site/site-footer/site-footer.twig' %}
  {% endblock %}
  {% block page_footer_bottom %}{% endblock %}
</div>
