{#
/**
 * @file
 * Breacrumbs
 * copied markup from goodway
 *
 * @todo how will this work?
 * Available variables:
 * - breadcrumb__base_class - the base class name
 * - breadcrumb__modifiers - array of modifiers to add to the base classname
 * - breadcrumb__blockname - blockname prepended to the base classname
 * - breadcrumb__extra_classes - extra classes
 * - breadcrumb__icon - path to the SVG icon
 * - breadcrumb__title - title
 * - breadcrumb__body - body content
 *
*/
#}

{% set breadcrumb__base_class = breadcrumb__base_class|default('Breadcrumb') %}

<nav {{ suit(breadcrumb__base_class, breadcrumb__modifiers, breadcrumb__blockname, breadcrumb__extra_classes) }}
  role="navigation" aria-labelledby="system-breadcrumb">
  <div class="grid-container">
    <h2 {{ suit('title', breadcrumb__modifiers, breadcrumb__base_class, ['sr-only']) }}>Breadcrumb</h2>
    <span {{ suit('item', ['with-link'], breadcrumb__base_class, breadcrumb__extra_classes) }}>
          <a
            {{ suit('link', breadcrumb__modifiers, breadcrumb__base_class, breadcrumb__extra_classes) }}
            href="#">Doloremque Laudantium</a>
        </span>
    <span {{ suit('separator', breadcrumb__modifiers, breadcrumb__base_class, breadcrumb__extra_classes) }} >|</span>
    <span
      {{ suit('item', ['bare'], breadcrumb__base_class, breadcrumb__extra_classes) }}>
          Consequuntur Magni Dolores
        </span>
  </div>
</nav>
