{#
/**
 * @file
 * Template for an HTML button element
 *
 * Available variables:
 * - button__data_open: The value to add to the data-open attribute
 * - button__content: The content of the button (typically text)
 *
 * Available blocks:
 * - button__content: Used to replace the content of the button with something other than text
 */
#}

{{ attach_library('msi/buttons') }}

{% set button__base_class = button__base_class|default('Button') %}
{% set button__extra_classes = button__extra_classes|default([])|merge(['button']) %}

<button {{ suit(button__base_class, button__modifiers, button__blockname, button__extra_classes) }}
  {% for attribute, value in button__attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}>
  {% block button__content %}
    {{ button__content }}
  {% endblock %}
</button>
