{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'eck-entity',
] %}
{{ attach_library('{{starter}}/horizontal-card') }}

{# purposefully not adding horizontal_card__email, horizontal_card__job_url, since these aren't used #}
{# we discussed using blocks, but for this instance, perhaps the regular include would have worked. #}

{% set horizontal_card__address = content.field_address %}
{% set horizontal_card__phone = content.field_phone_1 %}
{% set horizontal_card__mobile = content.field_phone_2 %}
{% set horizontal_card__fax = content.field_fax %}

{% embed '@molecules/HorizontalCard/HorizontalCard.twig' %}
  {% block image %}
    <div class="HorizontalCard-image cell shrink">
      {{ content.field_location_image }}
    </div>
  {% endblock %}
  {% block title %}
    {% include '@atoms/text/Heading.twig' with {
      heading__base_class: 'h3',
      heading__level: 3,
      heading: content.title ,
      heading__extra_classes: ['HeaderFont--regular'],
    } %}
    {% include '@atoms/text/Heading.twig' with {
      heading__base_class: 'white',
      heading__level: 6,
      heading: content.field_location,
      heading__extra_classes: ['uppercase'],
    } %}
  {% endblock %}
{% endembed %}

