{#
/**
 * @file
 * Body Copy
 * @todo schema microdata for article
 * used exclusively for Case Studies and Single Posts?? PLEASE NOTE the styling difference for this -- it has a negative margin because it NEEDS to go with the HeaderBannerImage
 * MUST go below an image banner, e.g. HeaderBannerImage to look "right"
 *
 * Available variables:
 * - body_copy__base_class - the base class name
 * - body_copy__modifiers - array of modifiers to add to the base classname
 * - body_copy__blockname - blockname prepended to the base classname
 * - body_copy__extra_classes - extra classes
 * -
 * - body_copy__title
 * - body_copy__body
 * - body_copy__date
 * - body_copy__share - true/false -- include share buttons?
*/
#}
{% set body_copy__base_class = body_copy__base_class|default('BodyCopy') %}
{% set body_copy__extra_classes = body_copy__extra_classes|default(['bg-light']) %}

<article {{ suit(body_copy__base_class, body_copy__modifiers, body_copy__blockname, body_copy__extra_classes) }}>
  <div class="grid-container">
    <div {{ suit('container', body_copy__modifiers, body_copy__base_class ) }}>
      <div
        {% if (body_copy__share == true) %}
          id="sticky-container"
        {% endif %}
        class="grid-x grid-padding-x">
        {% if (body_copy__share == true) %}
          <div class="cell small-12 large-1 large-text-center">
            {% include '@organisms/SocialShareTo/SocialShareTo.twig' %}
          </div>
        {% endif %}
        <div class="cell
            {% if (body_copy__share == true) %}
            small-12 large-10
            {% endif %}
            ">
          <header {{ suit('header', body_copy__modifiers, body_copy__base_class) }}>

            {% include '@atoms/text/Heading/Heading.twig' with {
              heading__base_class: '',
              heading__level: 1,
              heading: body_copy__title,
              heading__extra_classes: ['headline'],
            } %}
            <h1 class="headline" itemprop="headline"><?= $title ?></h1>
            {% if body_copy__date %}
              <p class="h6 uppercase">{{ body_copy__date }}</p>
            {% endif %}
          </header>
          <div class="wysiwyg">{{ body_copy__body }}</div>
        </div>
      </div>
    </div>
  </div>

</article>
