{#
/**
 * @file
 * ProductHeadlineIntro
 * Used on product detail page
 *
 * Available variables:
 * - replace__base_class - the base class name
 * - replace__modifiers - array of modifiers to add to the base classname
 * - replace__blockname - blockname prepended to the base classname
 * - replace__extra_classes - extra classes
 * -
 * - replace__title
 * - replace__body
 * - replace__url
 */
#}

{% set replace__base_class = replace__base_class|default('ProductHeadlineIntro') %}
{% set replace__extra_classes = replace__extra_classes|default(['']) %}

<header class="ProductHeadlineIntro">
  <div class="grid-x grid-margin-x">
    <div class="ProductHeadlineIntro-share cell medium-order-2 medium-shrink">
      {% include '@organisms/SocialShareTo/SocialShareTo.twig' with {
        social_share_to__title: '',
        social_share_to__url: '',
        social_share_to__sticky: false
      } %}
      {# Todo this will need to be refactored when merging. This variation should NOT stick. #}
      {# Begin copy-paste without sticky feature of SocialShareTo #}
      <div id="SocialShareTo" class="SocialShareTo">
        <ul class="SocialShareTo-menu Socials-row">
          <li>
            <a data-open="socialModal" class="Socials-button"><span class="fa fa-share fa-stack"></span></a>
          </li>
          <li>
            <a href="mailto:?subject={{ replace__title }}&body=Check out this product from Marking Services: {{ replace__url }}"
              class="Socials-button"
              rel="noopener nofollow"
              title="<?= $title ?>"
              target="_blank">
              <span class="fas fa-envelope fa-stack"></span>
            </a>
          </li>
          <li>
            <a href="javascript:window.print()" class="Socials-button">
              <span class="fas fa-print"></span>
            </a>
          </li>
        </ul>
        <div class="reveal" id="socialModal" data-reveal>
          <span class="h6 SocialShareTo-label subtitle">Share This Product</span>
          <h2 class="title">{{ replace__title }}</h2>
          <div class="SocialShareTo-row Socials-row">
            <a href="https://www.facebook.com/sharer.php?u={{ replace__url }}" class="SocialShareTo-button Socials-button" ref="noopener nofollow" target="_blank">
              <span class="fab fa-facebook-f"></span>
            </a>
            <a href="https://twitter.com/share?text={{ replace__title }}&url={{ replace__url }}" class="SocialShareTo-button Socials-button" ref="noopener nofollow" target="_blank">
              <span class="fab fa-twitter"></span>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ replace__url }}" class="SocialShareTo-button Socials-button" ref="noopener nofollow" target="_blank">
              <span class="fab fa-linkedin-in"></span>
            </a>
            <a href="https://pinterest.com/pin/create/button/?url={{ replace__url }}&description={{ replace__title }}" class="SocialShareTo-button Socials-button" ref="noopener nofollow" target="_blank">
              <span class="fab fa-pinterest-p"></span>
            </a>
          </div>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <h1 class="ProductHeadlineIntro-headline title cell medium-order-1 medium-auto" itemprop="headline">
      {{ replace__title }}
    </h1>
  </div>
  <div class="ProductHeadlineIntro-intro">{{ replace__body }}</div>
</header>
