{#
/**
 * @file
 * Intro with Icons
 *
 * Available variables:
 * - intro_with_icons__base_class - the base class name
 * - intro_with_icons__modifiers - array of modifiers to add to the base classname
 * - intro_with_icons__blockname - blockname prepended to the base classname
 * - intro_with_icons__extra_classes - extra classes
 * -
 * - intro_with_icons__title
 * - intro_with_icons__body
 * - intro_with_icons__button_title
 * - intro_with_icons__url
 * - intro_with_icons__teasers
*/
#}

{% set intro_with_icons__base_class = intro_with_icons__base_class|default('IntroWithIcons') %}
{% set intro_with_icons__extra_classes = intro_with_icons__extra_classes|default(['bg-light']) %}

<header {{ suit(intro_with_icons__base_class, intro_with_icons__modifiers, intro_with_icons__blockname, intro_with_icons__extra_classes) }}>
  <div class="grid-container">
    <div {{ suit('container', intro_with_icons__modifiers, intro_with_icons__base_class, ['grid-x'] ) }}>
      <div {{ suit('text', intro_with_icons__modifiers, intro_with_icons__base_class, ['cell', 'large-5'] ) }}>
        {% include '@atoms/text/Heading/Heading.twig' with {
          heading__base_class: '',
          heading__level: 1,
          heading: intro_with_icons__title,
          heading__extra_classes: ['title'],
          heading__more: {'itemprop': 'headline'},
        } %}
        <p class="large">{{ intro_with_icons__body }}</p>
        <a href="{{ intro_with_icons__url }}" class="button SectionFade-three">{{ intro_with_icons__button_title }}
          <span class="fas fa-caret-right"></span>
        </a>
      </div>
      <div {{ suit('blocks', intro_with_icons__modifiers, intro_with_icons__base_class, ['cell', 'large-7'] ) }}>
        <div class="grid-x small-up-2 large-up-3">
          {% for teaser in intro_with_icons__teasers %}
            <div {{ suit('block', intro_with_icons__modifiers, intro_with_icons__base_class, ['cell'] ) }}>
              <div {{ suit('blockIcon', intro_with_icons__modifiers, intro_with_icons__base_class ) }}
                class="IntroWithIcons-blockIcon">
                {{ teaser.image }}
              </div>
              <div c {{ suit('blockTitle', intro_with_icons__modifiers, intro_with_icons__base_class ) }}>
                {{ teaser.title }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</header>
