{{ attach_library('msi/Images') }}

{% set image_figure__base_class = image_figure__base_class|default('Figure') %}
{% set image_link_base_class = image_link_base_class|default('Link') %}

<figure {{ suit(image_figure__base_class, image_figure__modifiers, image_figure__blockname) }}>
  {% if image_url %}
    <a {{ suit(image_link_base_class, image_link_modifiers, image_link_blockname|default(image_figure__base_class)) }} href="{{ image_url }}">
  {% endif %}
    {% block figure_content %}
      {% include '@atoms/images/Image/ResponsiveImage.twig' with {
        responsive_image_blockname: responsive_image_blockname|default(image_figure__base_class),
      } %}
    {% endblock %}
  {% if image_url %}
    </a>
  {% endif %}

  {% if image_caption %}
    <figcaption {{ suit('caption', figcaption_modifiers, figcaption_blockname|default(image_figure__base_class)) }}>
      {{ image_caption }}
    </figcaption>
  {% endif %}
</figure>
