{#
/**
 * @file
 * Content Box
 *
 * @todo schema microdata for article
 * Used exclusively for Case Studies and Single Posts?? PLEASE NOTE the styling difference for this -- it has a negative
 * margin because it NEEDS to go with the HeaderBannerImage
 * MUST go below an image banner, e.g. HeaderBannerImage to look "right"
 *
 * Available variables:
 * - content_box__background_class: Utility class to set section background color (default: 'bg-light')
 * - content_box__content: Inner HTML content of the box
 *
 * Available blocks:
 * - content_box__content
*/
#}

{{ attach_library('{{starter}}/content-box') }}

{% set content_box__base_class = content_box__base_class|default('ContentBox') %}
{% set content_box__background_class = content_box__background_class|default(['bg-light']) %}
{% set content_box__extra_classes = content_box__extra_classes|default([])|merge(content_box__background_class) %}

<section {{ suit(content_box__base_class, content_box__modifiers, content_box__blockname, content_box__extra_classes) }}>
  <div class="grid-container">
    <div {{ suit('container', [], content_box__base_class ) }}>
      <div id="sticky-container" class="grid-x grid-padding-x sticky-container">
        {% if content_box__has_share_buttons %}
          <div class="cell small-12 large-1">
            {% block share_buttons %}
            {% endblock %}
          </div>
          <div class="cell small-12 large-10">
        {% else %}
          <div class="cell small-12">
        {% endif %}
          {% block content %}
            {{ content_box__content }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
